.posts{
<<<<<<< HEAD
    display: flex;
    flex-direction: column ;
    gap: 50px;
    // margin-bottom: 20px;
=======
  display: flex;
  flex-direction: column;
  gap: 50px;
>>>>>>> ef40cc4537ab40fa5ed62a2216fb3f2c2746ebfb
}